{% extends '::base.html.twig' %}

{% block body %}
    <ul>
        <li>{{ 'app.translator.index.msg1'|trans }}</li>
        <li>{{ 'app.translator.index.msg2'|trans }}</li>
        <li>{{ 'app.translator.index.msg3'|trans }}</li>
    </ul>
{% endblock %}