<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div style="text-align: right">
            <a href="{{ path('app_user_menu') }}">Index</a>
        </div>
        <ul>
        {% for message in app.session.flashBag.get('messages') %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
