{% extends '::base.html.twig' %}

{% block title %}{{ parent() }}Form{% endblock %}

{% block body %}
    <form action="{{ path(action) }}" method="post">
        Op1 <input type="number" name="op1" placeholder="An integer"><br>
        Op2 <input type="number" name="op2" placeholder="An integer"><br>
        <input type="submit" value="Ok">
    </form>
{% endblock %}
