{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ path('app_user_doInsert') }}">
            Email: <input type="email" name="email"><br>
            Password: <input type="text" name="password"><br>
            Username: <input type="text" name="username"><br>
            <input type="submit" value="Insert">
        </form>
    </div>
{% endblock %}